{% extends "layout.html" %}

{% block body %}
    <h1 style="color:black;text-align:center">
        Hello, Everyone!
    </h1>
    <h2 style="color:rgb(57, 55, 214);text-align:center">
        Live Menu: {{ meal }}
    </h2>
    
    <table align="center">
        <tr style="text-align: left;">
            <th>Items</th>
            <th>Price (INR)</th>
        </tr>
        
            {% for menu in menu %}
                <tr>
                    <td style="font-size:150%;">{{ menu[0] }}
                        <p style="font-size: 60%;line-height: 0%;">{{ menu[2] }}</p>
                    </td>
                    
                    <td valign="top">{{ menu[1] }}</td>
                </tr>
                
            {% endfor %}
        
    </table>
    
{% endblock %}